/* Remplace dans Yaru
./gnome-shell/src/gnome-shell-sass/_ubuntu-colors.scss
./gtk/src/default/gtk-3.0/_ubuntu-colors.scss
./gtk/src/default/gtk-3.20/_ubuntu-colors.scss
./gtk/src/light/gtk-3.0/_ubuntu-colors.scss
./gtk/src/light/gtk-3.20/_ubuntu-colors.scss
./gtk/src/dark/gtk-3.0/_ubuntu-colors.scss
./gtk/src/dark/gtk-3.20/_ubuntu-colors.scss
*/

// Blacks
$jet: #181818;
$inkstone: #3D3D3D;
$slate: #5D5D5D;
$graphite: #666666;

// Whites
$white: #FFFFFF;
$porcelain: #F7F7F7;
$silk: #CCC;
$ash: #878787;

// Purples // Remplacés par des bleus UGA
$aubergine: #4f5784;
$purple: #2a2e46;
$light_aubergine: #3e4467;
$mid_aubergine: #2a2e46;
$dark_aubergine: #2a2e46;

// Reds
$red: #c7162b;

// Oranges // Remplacé par des orange UGA
$orange: #e84e0f;

// Yellows
$yellow: #f99b11;

// Greens
$green: #0e8420;

// Blues
$blue: #19B6EE;
$linkblue: #007aa6;
$darkblue: #335280;
